@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h4 class="panel-title"><strong>Welcome @Session["UserName"].ToString()!</strong></h4>
    </div>
    <div class="panel-body">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5><strong>Released</strong></h5>
                </div>
                <div class="panel-body">
                    <input id="txtcash_release" data-bind="value: model.Released" class="form-control number" style="text-align:right" readonly>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h5 style="color:#ffffff"><strong>Collection</strong></h5>
                </div>
                <div class="panel-body">
                    <input id="txtcash_collected" data-bind="value: model.Collection" class="form-control number" style="text-align:right" readonly>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h5 style="color:#ffffff"><strong>Receivables</strong></h5>
                </div>
                <div class="panel-body">
                    <input id="txtcash_pulled_out" data-bind="value: model.Receivables" class="form-control number" style="text-align:right" readonly>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Functions/Home/home.model.js"></script>
    <script src="~/Scripts/Functions/Home/home.viewmodel.js"></script>
}
