
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-bind="visible: isListShowed" class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Replenishment List</h6>
        <div class="heading-elements">
            <button data-bind="click: create" type="submit" class="btn bg-orange-400 btn-labeled btn-labeled-right ml-10"><b><i class="icon-plus3"></i></b>Create new replenishment</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table text-nowrap" id="cashInTable">
            <thead>
            <tr>
                <th>autonum</th>
                <th>Date</th>
                <th>Employee Name</th>
                <th>Amount Replenished</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<div data-bind="visible: isCreateShowed" class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Replenishment</h6>
        <div class="heading-elements">

        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <label>Date</label>
                        <input type="text" id="CashInDate" data-bind="textinput: model.CashInDate" class="form-control text-semibold input-lg" style="text-align: left">
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <label>Employee Name</label>
                        <input type="text" id="UserName" data-bind="textinput: model.UserName" class="form-control text-semibold input-lg" style="text-align: left">
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <label>Amount</label>
                        <input type="text" id="Amount" data-bind="textinput: model.Amount" class="form-control text-semibold input-lg number" min = "0" style="text-align: right" autofocus>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
            <div class="text-right">
                <button data-bind="click: backToList" type="submit" class="btn btn-link"><i class="text-orange-600 icon-arrow-left13 position-left"></i> Back to list</button>
                <button data-bind="click: save" type="submit" class="btn bg-success btn-labeled btn-labeled-right ml-10"><b><i class="icon-plus3"></i></b><!--ko text: buttonSaveCaption--><!--/ko--></button>
            </div>
        </form>
    </div>
</div>

@section scripts{

    <script type="text/javascript" src="~/Assets/js/plugins/forms/inputs/typeahead/handlebars.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/forms/inputs/alpaca/alpaca.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/forms/inputs/alpaca/price_format.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/ui/prism.min.js"></script>
    <script type="text/javascript" src="~/Assets/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script src="~/Areas/Administrator/Assets/model/cashin.model.js"></script>
    <script src="~/Areas/Administrator/Assets/viewmodel/cashin.viewmodel.js"></script>
}