@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style>
    table th { /* new style */
        border-top: double #000000;
        border-bottom: 1px dashed #000000;
    }

    table td { /* new style */
        width: 100px;
    }
</style>*@
<div data-bind="visible: isPaymentListShowed" class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Payment List</h6>
        <div class="heading-elements">
            <button data-bind="click: addPayment" type="submit" class="btn bg-orange-400 btn-labeled btn-labeled-right ml-10"><b><i class="icon-plus3"></i></b>Create new payment</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table text-nowrap" id="payment-table">
            <thead>
                <tr>
                    <th>autonum</th>
                    <th>Date</th>
                    <th>Reference No.</th>
                    <th>Name of Customer</th>
                    <th>Total Payment</th>
                    <th class="text-center"><i class="icon-arrow-down12"></i></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div data-bind="visible: isCreateModeShow" class="panel panel-white">
    <div class="panel-heading">
        <h6 class="panel-title">New Collection Wizard</h6>
        <div class="heading-elements">
            <button data-bind="click: backToPaymentList()" type="submit" class="btn btn-link"><i class="text-orange-600 icon-arrow-left13 position-left"></i> Back to payment list</button>
        </div>
    </div>
    <form class="stepy-validation" action="#" id="stepyProject">
        <fieldset>
            <legend class="text-semibold">Select customer name</legend>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Select customer: <span class="text-danger">*</span></label>
                        <select name="customerName" data-placeholder="Select customer" class="select required" id="customerId">
                            <option disabled selected></option>
                            @foreach (var item in ViewBag.Customer)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </fieldset>
        <fieldset>
            <legend class="text-semibold">Select account</legend>
            <div class="panel panel-flat">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table text-nowrap" id="account-table">
                            <thead>
                            <tr>
                                <th>Loan No.</th>
                                <th>Customer Name</th>
                                <th>Balance</th>
                                <th class="text-center"><i class="icon-arrow-down12"></i></th>
                                <th>Balance</th>
                                <th>Balance</th>                              
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend class="text-semibold">Account details</legend>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>OR #</label>
                        <input type="text" data-bind="textinput: forSaveingModel.PaymentNo" class="form-control" id="PaymentNo" readonly>
                    </div>
                    <div class="col-md-6">
                        <label>Date</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                            <input type="text" data-bind="textinput: forSaveingModel.PaymentDate" class="form-control daterange-single" id="PaymentDate" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Customer Name</label>
                        <input type="text" data-bind="textinput: forSaveingModel.CustomerName" class="form-control" id="CustomerName" readonly>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-flat border-top-primary border-xlg">
                            <div class="panel-heading"><h6 class="panel-title">Principal</h6></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table text-nowrap" id="principalTable">
                                        <thead>
                                        <tr>
                                            <th>Loan No.</th>
                                            <th>Loan Type</th>
                                            <th>Due Date</th>
                                            <th>Amount Due</th>
                                        </tr>
                                        </thead>
                                        <tbody data-bind="foreach: principalItems">
                                        <tr>
                                            <td data-bind="text: LoanNo" class="text-semibold"></td>
                                            <td data-bind="text: LoanType" class="text-semibold"></td>
                                            <td data-bind="text: DueDate" class="text-semibold"></td>
                                            <td data-bind="text: AmountDue" class="text-semibold"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                       
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-flat border-top-primary border-xlg">
                            <div class="panel-heading"><h6 class="panel-title">Interest</h6></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table text-nowrap" id="interestTable">
                                        <thead>
                                        <tr>
                                            <th>Loan No.</th>
                                            <th>Loan Type</th>
                                            <th>Due Date</th>
                                            <th>Amount Due</th>
                                        </tr>
                                        </thead>
                                        <tbody data-bind="foreach: interestItems">
                                        <tr>
                                            <td data-bind="text: LoanNo" class="text-semibold"></td>
                                            <td data-bind="text: LoanType" class="text-semibold"></td>
                                            <td data-bind="text: DueDate" class="text-semibold"></td>
                                            <td data-bind="text: AmountDue" class="text-semibold"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>               
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend class="text-semibold">Payment</legend>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <label>Amount Due</label>
                        <input type="text" class="form-control text-semibold input-lg" style="text-align: right" id="AmountDue" readonly>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <label>Payment</label>
                        <input type="text" data-bind="textinput: forSaveingModel.Payment" class="form-control text-semibold input-lg required" style="text-align: right" id="Payment">
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <label>Balance</label>
                        <input type="text" class="form-control text-semibold input-lg" style="text-align: right" id="Change" readonly>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend class="text-semibold">Receipt</legend>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="panel panel-flat">
                            <div class="panel-heading"><h6 class="panel-title"></h6>
                            </div>
                            <div class="panel-body" id="receipt">
                                <!--- Headers -->
                                <div class="table-responsive" style="width: 100%;">
                                    <table style="font-family: Consolas; width: 100%;">
                                        <tr>
                                            <td class="col-lg-4" style="text-align: left; width: 5%;"></td>
                                            <td class="col-lg-4" style="text-align: center; width: 90%; font-size: 18px;"><strong>RGL LENDING</strong></td>
                                            <td class="col-lg-4" style="text-align: right; width: 5%;"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4" style="text-align: left; width: 5%;"></td>
                                            <td class="col-lg-4" style="text-align: center; width: 90%; font-size: 14px;">Maa, Davao City</td>
                                            <td class="col-lg-4" style="text-align: right; width: 5%;"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4" style="text-align: left; width: 5%;"></td>
                                            <td class="col-lg-4" style="text-align: center; width: 90%;">&nbsp</td>
                                            <td class="col-lg-4" style="text-align: right; width: 5%;"></td>
                                        </tr>
                                    </table>
                                    <table style="font-family: Consolas; width: 100%;">
                                        <tr>
                                            <td class="col-lg-4" style="text-align: left; width: 90%; font-size: 14px;" id="ReceiptNo"></td>
                                            <td class="col-lg-4" style="text-align: center; width: 5%; font-size: 14px;"></td>
                                            <td class="col-lg-4" style="text-align: right; width: 5%; font-size: 14px;"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4" style="text-align: left; width: 90%; font-size: 14px;" id="Date"></td>
                                            <td class="col-lg-4" style="text-align: center; width: 5%; font-size: 14px;"></td>
                                            <td class="col-lg-4" style="text-align: right; width: 5%; font-size: 14px;"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4" style="text-align: left; width: 90%; font-size: 14px;" id="Borrower"></td>
                                            <td class="col-lg-4" style="text-align: center; width: 5%; font-size: 14px;"></td>
                                            <td class="col-lg-4" style="text-align: right; width: 5%; font-size: 14px;"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4" style="text-align: left; width: 90%; font-size: 14px;" id="IdNo"></td>
                                            <td class="col-lg-4" style="text-align: center; width: 5%; font-size: 14px;"></td>
                                            <td class="col-lg-4" style="text-align: right; width: 5%; font-size: 14px;"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4" style="text-align: left; width: 90%; font-size: 14px;"></td>
                                            <td class="col-lg-4" style="text-align: center; width: 5%; font-size: 14px;">&nbsp</td>
                                            <td class="col-lg-4" style="text-align: right; width: 5%; font-size: 14px;"></td>
                                        </tr>
                                    </table>
                                </div>
                                <!--- /Headers -->
                                <!--- Body -->
                                <div class="table-responsive" style="width: 100%;">
                                    <table style="font-family: Consolas; width: 100%;">
                                        <tr>
                                            <td class="col-lg-4" style="text-align: left; width: 166.7px; font-size: 14px;"><strong>REFERENCE</strong></td>
                                            <td class="col-lg-4" style="text-align: center; width: 166.7px; font-size: 14px;"><strong>PARTICULARS</strong></td>
                                            <td class="col-lg-4" style="text-align: right; width: 166.7px; font-size: 14px;"><strong>AMOUNT</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4" style="text-align: left; width: 166.7px; font-size: 14px;" id="principalReference"></td>
                                            <td class="col-lg-4" style="text-align: center; width: 166.7px; font-size: 14px;" id="principalParticulars"></td>
                                            <td class="col-lg-4" style="text-align: right; width: 166.7px; font-size: 14px;" id="principalAmount"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4" style="text-align: left; width: 166.7px; font-size: 14px;" id="interestReference"></td>
                                            <td class="col-lg-4" style="text-align: center; width: 166.7px; font-size: 14px;" id="interestParticulars"></td>
                                            <td class="col-lg-4" style="text-align: right; width: 166.7px; font-size: 14px;" id="interestAmount"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4" style="text-align: left; width: 166.7px; font-size: 14px;"></td>
                                            <td class="col-lg-4" style="text-align: center; width: 166.7px; font-size: 14px;">&nbsp</td>
                                            <td class="col-lg-4" style="text-align: right; width: 166.7px; font-size: 14px;"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4" style="text-align: left; width: 166.7px; font-size: 14px;"><strong>Balance:</strong></td>
                                            <td class="col-lg-4" style="text-align: center; width: 166.7px; font-size: 14px;"></td>
                                            <td class="col-lg-4" style="text-align: right; width: 166.7px; font-size: 14px;"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4" style="text-align: left; width: 166.7px; font-size: 14px;" id="balancLoanNo"></td>
                                            <td class="col-lg-4" style="text-align: center; width: 166.7px; font-size: 14px;"></td>
                                            <td class="col-lg-4" style="text-align: right; width: 166.7px; font-size: 14px;" id="balanceAmount"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4" style="text-align: left; width: 166.7px; font-size: 14px;"></td>
                                            <td class="col-lg-4" style="text-align: center; width: 166.7px; font-size: 14px;">&nbsp</td>
                                            <td class="col-lg-4" style="text-align: right; width: 166.7px; font-size: 14px;"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4" style="text-align: left; width: 166.7px; font-size: 14px;">Cashier: @Session["UserFullName"]</td>
                                            <td class="col-lg-4" style="text-align: center; width: 166.7px; font-size: 14px;"></td>
                                            <td class="col-lg-4" style="text-align: right; width: 166.7px; font-size: 14px;"></td>
                                        </tr>
                                    </table>
                                </div>
                                <!--- /Body -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>      
        </fieldset>
        <button data-bind="click: savePayment" type="submit" class="btn btn-success stepy-finish">Save <i class="icon-check position-right"></i></button>
    </form>
</div>

<!-- Reprint Modal -->
<div id="Reprint" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Receipt</h5>
            </div>

            <div class="modal-body" id="receiptReprint">
                <!--- Headers -->
                <div class="table-responsive" style="width: 100%;">
                    <table style="font-family: Consolas; width: 100%;">
                        <tr>
                            <td class="col-lg-4" style="text-align: left; width: 5%;"></td>
                            <td class="col-lg-4" style="text-align: center; width: 90%; font-size: 18px;"><strong>RGL LENDING</strong></td>
                            <td class="col-lg-4" style="text-align: right; width: 5%;"></td>
                        </tr>
                        <tr>
                            <td class="col-lg-4" style="text-align: left; width: 5%;"></td>
                            <td class="col-lg-4" style="text-align: center; width: 90%; font-size: 14px;">Maa, Davao City</td>
                            <td class="col-lg-4" style="text-align: right; width: 5%;"></td>
                        </tr>
                        <tr>
                            <td class="col-lg-4" style="text-align: left; width: 5%;"></td>
                            <td class="col-lg-4" style="text-align: center; width: 90%;">&nbsp</td>
                            <td class="col-lg-4" style="text-align: right; width: 5%;"></td>
                        </tr>
                    </table>
                    <table style="font-family: Consolas; width: 100%;">
                        <tr>
                            <td class="col-lg-4" style="text-align: left; width: 90%; font-size: 14px;" id="rReceiptNo"></td>
                            <td class="col-lg-4" style="text-align: center; width: 5%; font-size: 14px;"></td>
                            <td class="col-lg-4" style="text-align: right; width: 5%; font-size: 14px;"></td>
                        </tr>
                        <tr>
                            <td class="col-lg-4" style="text-align: left; width: 90%; font-size: 14px;" id="rDate"></td>
                            <td class="col-lg-4" style="text-align: center; width: 5%; font-size: 14px;"></td>
                            <td class="col-lg-4" style="text-align: right; width: 5%; font-size: 14px;"></td>
                        </tr>
                        <tr>
                            <td class="col-lg-4" style="text-align: left; width: 90%; font-size: 14px;" id="rBorrower"></td>
                            <td class="col-lg-4" style="text-align: center; width: 5%; font-size: 14px;"></td>
                            <td class="col-lg-4" style="text-align: right; width: 5%; font-size: 14px;"></td>
                        </tr>
                        <tr>
                            <td class="col-lg-4" style="text-align: left; width: 90%; font-size: 14px;" id="rIdNo"></td>
                            <td class="col-lg-4" style="text-align: center; width: 5%; font-size: 14px;"></td>
                            <td class="col-lg-4" style="text-align: right; width: 5%; font-size: 14px;"></td>
                        </tr>
                        <tr>
                            <td class="col-lg-4" style="text-align: left; width: 90%; font-size: 14px;"></td>
                            <td class="col-lg-4" style="text-align: center; width: 5%; font-size: 14px;">&nbsp</td>
                            <td class="col-lg-4" style="text-align: right; width: 5%; font-size: 14px;"></td>
                        </tr>
                    </table>
                </div>
                <!--- /Headers -->
                <!--- Body -->
                <div class="table-responsive" style="width: 100%;">
                    <table style="font-family: Consolas; width: 100%;">
                        <tr>
                            <td class="col-lg-4" style="text-align: left; width: 166.7px; font-size: 14px;"><strong>REFERENCE</strong></td>
                            <td class="col-lg-4" style="text-align: center; width: 166.7px; font-size: 14px;"><strong>PARTICULARS</strong></td>
                            <td class="col-lg-4" style="text-align: right; width: 166.7px; font-size: 14px;"><strong>AMOUNT</strong></td>
                        </tr>
                        <tr>
                            <td class="col-lg-4" style="text-align: left; width: 166.7px; font-size: 14px;" id="rprincipalReference"></td>
                            <td class="col-lg-4" style="text-align: center; width: 166.7px; font-size: 14px;" id="rprincipalParticulars"></td>
                            <td class="col-lg-4" style="text-align: right; width: 166.7px; font-size: 14px;" id="rprincipalAmount"></td>
                        </tr>
                        <tr>
                            <td class="col-lg-4" style="text-align: left; width: 166.7px; font-size: 14px;" id="rinterestReference"></td>
                            <td class="col-lg-4" style="text-align: center; width: 166.7px; font-size: 14px;" id="rinterestParticulars"></td>
                            <td class="col-lg-4" style="text-align: right; width: 166.7px; font-size: 14px;" id="rinterestAmount"></td>
                        </tr>
                        <tr>
                            <td class="col-lg-4" style="text-align: left; width: 166.7px; font-size: 14px;"></td>
                            <td class="col-lg-4" style="text-align: center; width: 166.7px; font-size: 14px;">&nbsp</td>
                            <td class="col-lg-4" style="text-align: right; width: 166.7px; font-size: 14px;"></td>
                        </tr>
                        <tr>
                            <td class="col-lg-4" style="text-align: left; width: 166.7px; font-size: 14px;"><strong>Balance:</strong></td>
                            <td class="col-lg-4" style="text-align: center; width: 166.7px; font-size: 14px;"></td>
                            <td class="col-lg-4" style="text-align: right; width: 166.7px; font-size: 14px;"></td>
                        </tr>
                        <tr>
                            <td class="col-lg-4" style="text-align: left; width: 166.7px; font-size: 14px;" id="rbalancLoanNo"></td>
                            <td class="col-lg-4" style="text-align: center; width: 166.7px; font-size: 14px;"></td>
                            <td class="col-lg-4" style="text-align: right; width: 166.7px; font-size: 14px;" id="rbalanceAmount"></td>
                        </tr>
                        <tr>
                            <td class="col-lg-4" style="text-align: left; width: 166.7px; font-size: 14px;"></td>
                            <td class="col-lg-4" style="text-align: center; width: 166.7px; font-size: 14px;">&nbsp</td>
                            <td class="col-lg-4" style="text-align: right; width: 166.7px; font-size: 14px;"></td>
                        </tr>
                        <tr>
                            <td class="col-lg-4" style="text-align: left; width: 166.7px; font-size: 14px;">Cashier: @Session["UserFullName"]</td>
                            <td class="col-lg-4" style="text-align: center; width: 166.7px; font-size: 14px;"></td>
                            <td class="col-lg-4" style="text-align: right; width: 166.7px; font-size: 14px;"></td>
                        </tr>
                    </table>
                </div>
                <!--- /Body -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <button type="button" data-bind="click: printReceipt('receiptReprint')" class="btn btn-primary">Print</button>
            </div>
        </div>
    </div>
</div>
<!-- /Reprint Modal -->

@section scripts{
    <script type="text/javascript" src="~/Assets/js/plugins/forms/wizards/stepy.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/core/libraries/jasny_bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/forms/validation/validate.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/notifications/bootbox.min.js"></script>
    
    <script src="~/Areas/Administrator/Assets/js/stepy-wizard.js"></script>

    <script src="~/Areas/Administrator/Assets/model/collections.model.js"></script>
    <script src="~/Areas/Administrator/Assets/viewmodel/collections.viewmodel.js"></script>
}